<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <!-- SEO Meta Tags -->
        <meta name="description" content="Your description">
        <meta name="author" content="Your name">

        <!-- OG Meta Tags to improve the way the post looks when you share the page on Facebook, Twitter, LinkedIn -->
        <meta property="og:site_name" content="" /> <!-- website name -->
        <meta property="og:site" content="" /> <!-- website link -->
        <meta property="og:title" content=""/> <!-- title shown in the actual shared post -->
        <meta property="og:description" content="" /> <!-- description shown in the actual shared post -->
        <meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
        <meta property="og:url" content="" /> <!-- where do you want your post to link to -->
        <meta name="twitter:card" content="summary_large_image"> <!-- to have large image post format in Twitter -->

        <!-- Webpage Title -->
        <title>Questionare - Make a Day</title>
        
        <!-- Styles -->
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400&display=swap" rel="stylesheet">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/fontawesome-all.min.css" rel="stylesheet">
        <link href="css/swiper.css" rel="stylesheet">
        <link href="css/styles.css" rel="stylesheet">
        
        <!-- Questionare -->
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <link href="css/questionare.css" rel="stylesheet">

        <!-- Icon  -->
        <link rel="icon" href="images/icon.png">
    </head>
    <body>
        
        <!-- Navigation -->
        <nav id="navbarExample" class="navbar navbar-expand-lg fixed-top navbar-light" aria-label="Main navigation">
            <div class="container">

                <!-- Image Logo -->
                <a class="navbar-brand logo-image" href="/"><img src="images/headerlogo.png" alt="alternative"></a> 

                <!-- Text Logo - Use this if you don't have a graphic logo -->
                <!-- <a class="navbar-brand logo-text" href="index.html">Ioniq</a> -->

                <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
                    <ul class="navbar-nav ms-auto navbar-nav-scroll">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/home">Today</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/home#data">Quick Data</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/home#review">Year in Review</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/home#budget">Budgeting</a>
                        </li>
                    </ul>
                    <span class="nav-item">
                        <a class="btn-outline-sm" href="/questionare">Questionare</a>
                    </span>
                </div> <!-- end of navbar-collapse -->
            </div> <!-- end of container -->
        </nav> <!-- end of navbar -->
        <!-- end of navigation -->


        <!-- Header -->
        <header class="ex-header">
            <div class="container">
                <div class="row">
                    <div class="col-xl-10 offset-xl-1">
                        <h1 class="text-center">Questionare</h1>
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </header> <!-- end of ex-header -->
        <!-- end of header --> 
        
        <!-- If user is new -->
        <% let isMatch = false %>
        <% let match = null %>
        <% for(var i=0; i<questionare.length; i++){%>
            <% if(questionare[i].user === user.local.email) {%>
                <% isMatch = true %>
                <% match = questionare[i] %>
            <% }%>
        <%} %>
        <% if(isMatch === false){%>
            <div class="ex-form-1 pt-5 pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 offset-xl-3">
                        <div class="text-box mt-5 mb-5">
                            <p class="mb-4">Fill out your preferences to generate curated, random goals.</p>
                            <hr/>

                            <form action="questionare" method="post">
                                <div class="fw-bold" id='charityGoal'>Which charity goal are you most interested in funding for?</div>

                                <div class="form-check mb-2">
                                <input type="radio" name="charityGoal" value="Global Warming"  class="form-check-input" id="charityOne" required><label for="charityOne" class="form-check-label">Global Warming</label>
                                </div>

                                <div class="form-check mb-2">
                                <input type="radio" name="charityGoal" value="Cancer Awareness" class="form-check-input" id="charityTwo"><label for="charityTwo" class="form-check-label">Cancer Awareness</label>
                                </div>

                                <div class="form-check mb-2">
                                <input type="radio" name="charityGoal" value="World hunger" class="form-check-input" id="charityThree"><label for="charityThree" class="form-check-label">World hunger</label>
                                </div>

                                <div class="form-check mb-2">
                                <input type="radio" name="charityGoal" value="Homelessness" class="form-check-input" id="charityFour"><label for="charityFour" class="form-check-label">Homelessness</label>
                                </div>

                                <div class="form-check mb-2">
                                <input type="radio" name="charityGoal" value="Mental health awareness" class="form-check-input" id="charityFive"><label for="charityFive" class="form-check-label">Mental health awareness</label> 
                                </div>
                                <hr/>


                                <div class="notes"><strong>Note:</strong> "monetary donations budget" is used for donating to a charity while the "random acts of kindness budget" might be used to buy someone a cup of coffee.</div>
                
                                <div class="fw-bold">What is your monthly budget for monetary donations? (if any)</div>
                                <div class="col-sm-4 col-sm-offset-4">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <button type='button' class="btn btn-dark btn-sm" id="monetaryDonationsBudget-minus-btn"><i class="fa fa-minus"></i></button>
                                        </div>
                                        <input type="number" name='monetaryDonationsBudget' id="monetaryDonationsBudget_qty_input" class="form-control form-control-sm" value="0" min="0">
                                        <div class="input-group-prepend">
                                            <button type='button' class="btn btn-dark btn-sm" id="monetaryDonationsBudget-plus-btn"><i class="fa fa-plus"></i></button>
                                        </div>
                                    </div>
                                </div>

                                <div class="fw-bold">What is your monthly budget for random acts of kindness? (if any)</div>
                                           <div class="col-sm-4 col-sm-offset-4">
                                               <div class="input-group mb-3">
                                                   <div class="input-group-prepend">
                                                       <button type='button' class="btn btn-dark btn-sm" id="randomActsBudget-minus-btn"><i class="fa fa-minus"></i></button>
                                                   </div>
                                                   <input type="number" name='randomActsBudget' id="randomActsBudget_qty_input" class="form-control form-control-sm" value="0" min="0">
                                                   <div class="input-group-prepend">
                                                       <button type='button' class="btn btn-dark btn-sm" id="randomActsBudget-plus-btn"><i class="fa fa-plus"></i></button>
                                                   </div>
                                               </div>
                                           </div>
                                           <hr/>

                                    <button type="submit" class="form-control-submit-button" id='submit'>Submit</button>
                                </form>

                        </div> <!-- end of text-box -->
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of ex-basic-1 -->
        <!-- end of basic -->
        <%} else{%>
            <div class="ex-form-1 pt-5 pb-5">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 offset-xl-3">
                            <div class="text-box mt-5 mb-5">
                                <p class="mb-4">Fill out your preferences to generate curated, random goals.</p>
                                <hr/>
    
                                <form id="updateForm">
                                    <div class="fw-bold" id='charityGoal'>Which charity goal are you most interested in funding for?</div>
    
                                    <%if(questionare[0].charityGoal === 'Global Warming'){%>
                                        <div class="form-check mb-2">
                                        <input type="radio" name="charityGoal" value="Global Warming"  class="form-check-input" id="charityOne" checked required><label for="charityOne" class="form-check-label">Global Warming</label>
                                        </div>
                                    <%} else{%>
                                        <div class="form-check mb-2">
                                        <input type="radio" name="charityGoal" value="Global Warming"  class="form-check-input" id="charityOne" required><label for="charityOne" class="form-check-label">Global Warming</label>
                                        </div>
                                    <%}%>
     
                                    <%if(questionare[0].charityGoal === 'Cancer Awareness'){%>
                                        <div class="form-check mb-2">
                                        <input type="radio" name="charityGoal" value="Cancer Awareness" class="form-check-input" id="charityTwo" checked><label for="charityTwo" class="form-check-label">Cancer Awareness</label>
                                        </div>
                                    <%} else{%>
                                        <div class="form-check mb-2">
                                        <input type="radio" name="charityGoal" value="Cancer Awareness" class="form-check-input" id="charityTwo"><label for="charityTwo" class="form-check-label">Cancer Awareness</label>
                                        </div>
                                    <%}%>
         
                                    <%if(questionare[0].charityGoal === 'World Hunger'){%>
                                        <div class="form-check mb-2">
                                        <input type="radio" name="charityGoal" value="World Hunger" class="form-check-input" id="charityThree" checked><label for="charityThree" class="form-check-label">World Hunger</label>
                                        </div>
                                    <%} else{%>
                                        <div class="form-check mb-2">
                                        <input type="radio" name="charityGoal" value="World Hunger" class="form-check-input" id="charityThree"><label for="charityThree" class="form-check-label">World Hunger</label>
                                        </div>
                                    <%}%>

                                    <%if(questionare[0].charityGoal === 'Homelessness'){%>
                                        <div class="form-check mb-2">
                                            <input type="radio" name="charityGoal" value="Homelessness" class="form-check-input" id="charityFour" checked><label for="charityFour" class="form-check-label">Homelessness</label>
                                            </div>
                                    <%} else{%>
                                        <div class="form-check mb-2">
                                            <input type="radio" name="charityGoal" value="Homelessness" class="form-check-input" id="charityFour"><label for="charityFour" class="form-check-label">Homelessness</label>
                                            </div>
                                    <%}%>

                                    <%if(questionare[0].charityGoal === 'Mental Health Awareness'){%>
                                        <div class="form-check mb-2">
                                            <input type="radio" name="charityGoal" value="Mental Health Awareness" class="form-check-input" id="charityFive" checked><label for="charityFive" class="form-check-label">Mental Health Awareness</label> 
                                            </div>
                                            <hr/>
                                    <%} else{%>
                                        <div class="form-check mb-2">
                                            <input type="radio" name="charityGoal" value="Mental Health Awareness" class="form-check-input" id="charityFive"><label for="charityFive" class="form-check-label">Mental Health Awareness</label> 
                                            </div>
                                            <hr/>
                                    <%}%>
    
    
                                    <div class="notes"><strong>Note:</strong> "monetary donations budget" is used for donating to a charity while the "random acts of kindness budget" might be used to buy someone a cup of coffee.</div>
                    
                                    <div class="fw-bold">What is your monthly budget for monetary donations? (if any)</div>
                                    <div class="col-sm-4 col-sm-offset-4">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <button type='button' class="btn btn-dark btn-sm" id="monetaryDonationsBudget-minus-btn"><i class="fa fa-minus"></i></button>
                                            </div>
                                            <input type="number" name='monetaryDonationsBudget' id="monetaryDonationsBudget_qty_input" class="form-control form-control-sm" value="<%= questionare[0].monetaryDonationsBudget %>" min="0">
                                            <div class="input-group-prepend">
                                                <button type='button' class="btn btn-dark btn-sm" id="monetaryDonationsBudget-plus-btn"><i class="fa fa-plus"></i></button>
                                            </div>
                                        </div>
                                    </div>
    
                                    <div class="fw-bold">What is your monthly budget for random acts of kindness? (if any)</div>
                                               <div class="col-sm-4 col-sm-offset-4">
                                                   <div class="input-group mb-3">
                                                       <div class="input-group-prepend">
                                                           <button type='button' class="btn btn-dark btn-sm" id="randomActsBudget-minus-btn"><i class="fa fa-minus"></i></button>
                                                       </div>
                                                       <input type="number" name='randomActsBudget' id="randomActsBudget_qty_input" class="form-control form-control-sm" value="<%= questionare[0].randomActsBudget %>" min="0">
                                                       <div class="input-group-prepend">
                                                           <button type='button' class="btn btn-dark btn-sm" id="randomActsBudget-plus-btn"><i class="fa fa-plus"></i></button>
                                                       </div>
                                                   </div>
                                               </div>
                                               <hr/>
    
                                        <button type="submit" class="form-control-submit-button" id="update">Update</button>
                                    </form>
    
                            </div> <!-- end of text-box -->
                        </div> <!-- end of col -->
                    </div> <!-- end of row -->
                </div> <!-- end of container -->
            </div> <!-- end of ex-basic-1 -->
            <!-- end of basic -->
        <%}%>


         <!-- Footer -->
         <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="footer-col third">
                            <span class="fa-stack">
                                <a href="https://github.com/coding-jn">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-github fa-stack-1x"></i>
                                </a>
                            </span>
                            <span class="fa-stack">
                                <a href="https://twitter.com/JennaJtn">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-twitter fa-stack-1x"></i>
                                </a>
                            </span>
                            <span class="fa-stack">
                                <a href="https://www.linkedin.com/in/jtn-jenna-nguyen/">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-linkedin fa-stack-1x"></i>
                                </a>
                            </span>
                            <p class="p-small">Email us at <a href="mailto:contact@site.com"><strong>jenna.jtn@gmail.com</strong></a></p>
                        </div> <!-- end of footer-col -->
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of footer -->  
        <!-- end of footer -->


        <!-- Copyright -->
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <p class="p-small">Copyright © <a href="#your-link">Jenna</a></p>
                    </div> <!-- end of col -->
                </div> <!-- enf of row -->
            </div> <!-- end of container -->
        </div> <!-- end of copyright --> 
        <!-- end of copyright -->
        

        <!-- Back To Top Button -->
        <button onclick="topFunction()" id="myBtn">
            <img src="images/up-arrow.png" alt="alternative">
        </button>
        <!-- end of back to top button -->
            
        <!-- Scripts -->
        <script src="js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
        <script src="js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
        <script src="js/purecounter.min.js"></script> <!-- Purecounter counter for statistics numbers -->
        <script src="js/replaceme.min.js"></script> <!-- ReplaceMe for rotating text -->
        <script src="js/scripts.js"></script> <!-- Custom scripts -->
        <script src="js/incrementbutton.js"></script> <!-- Custom scripts -->

        <script src="questionare.js"></script> <!-- Event Listeners -->
    </body>
</html>